header#header.home-parallax.home-fade.dark-bg.header-inner
  .color-overlay
  .container
    h1 {{page:title}}
    .breadcrumb
      a(href='/') Home
      i.fa.fa-angle-double-right
      a(href='#') {{page:title}}
