section.about-content.section.typography
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h4 About Jason M Design
        hr
        p Jason M Design was started when I noticed a huge gap in the web design and development market. Too many small and medium sized business owners were being over charged and receiving underperforming products in return.
        p We are here to change that. We charge you whats fair, we understand that you website and online presence is an investment. You don't just want it to sit there and look nice. You want your website to get you customers. We help you accomplish this.
        p Through a rigrious discovery process we know the ins and outs of your business. This positions us perfectly to design, develop, and launch the perfect website for you.
        p If this wasn't enough we ensure that you receive great support after your site is build. Just like any investment a website isn't just a set and forget exercise. We help you to continue to strategize, and develop marketing techniques to make the most out of your new website.
