section#blog-single.section.blog.blog-standard
  .container
    .row
      .col-md-8.col-md-offset-2
        // Blog Post
        .row.blog-post
          .col-md-12
            h2.post-title {{page.title}}
              .post-meta
                | by
                a(href='//medium.com/@Jason_Matthew') Jason
                span |
                | {{page.date | date: '%d %B, %Y'}}
                span |
                | {{page.categories | join: ' / '}}
            .post-content
              | {{page.content}}
            | {% if page.comments %}
            #disqus_thread
            script.
              
              var disqus_config = function () {
              this.page.url = {{page.url}};  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = {{page.id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://jasonmdesign.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
            noscript
              | Please enable JavaScript to view the 
              a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
            | {% endif %}
        // Blog Post end
