section#blog-single.section.blog.blog-standard
  .container
    .row
      .col-md-8.col-md-offset-2
        // Blog Post
        .row.blog-post
          .col-md-12
            .featured-image
              img.img-responsive(src='{{post.thumbnail}}')
            h2.post-title {{page.title}}
              .post-meta
                | by
                a(href='//medium.com/@Jason_Matthew') Jason
                span |
                | {{page.date | date: '%d %B, %Y'}}
                span |
                | {{page.categories | join: ' / '}}
            .post-content
              | {{page.content}}
            <div id="disqus_thread"></div>
            <script>
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//jasonmdesign.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        // Blog Post end
