// Call To Action
#cta-1.cta-1
  .container
    .call-to-action
      .cta-text Are you excited to start your project?
      a.btn.btn-default-o(href='#') Get Started
  // container
// /Call To Action
