// Call To Action
#cta-2.cta-2.text-center
  .container
    span.cta-text Want to see more from our works lorem ipsum dolor sit amet?
    a.btn.btn-default-o(href='portfolio__boxed__3_columns.html') View all
// Call To Action
