// FAQ
section#faq.section.faq
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h4 FAQ's
        hr
        div(role='tabpanel')
          // Nav tabs start
          ul.nav.nav-tabs.font-alt(role='tablist')
            li.active
              a(href='#support', data-toggle='tab')
                span.ion-heart
                |  Support
            li
              a(href='#sales', data-toggle='tab')
                span.ion-ios-cart
                |  Sales
            li
              a(href='#notice', data-toggle='tab')
                span.ion-speakerphone
                |  Notice
          // Nav tabs end
          // Tab panes start
          .tab-content
            // Tab start
            #support.tab-pane.active
              // Accordions start
              #accordion.panel-group
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a(data-toggle='collapse', data-parent='#accordion', href='#support1')
                        | Support Question 1
                  #support1.panel-collapse.collapse.in
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#support2')
                        | Support Question 2
                  #support2.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#support3')
                        | Support Question 3
                  #support3.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#support4')
                        | Support Question 4
                  #support4.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
              // Accordions end
            // Tab end
            // Tab start
            #sales.tab-pane
              // Accordions start
              #accordion2.panel-group
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a(data-toggle='collapse', data-parent='#accordion2', href='#sales1')
                        | Sales Question 1
                  #sales1.panel-collapse.collapse.in
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#sales2')
                        | Sales Question 2
                  #sales2.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#sales3')
                        | Sales Question 3
                  #sales3.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#sales4')
                        | Sales Question 4
                  #sales4.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
              // Accordions end
            // Tab end
            // Tab start
            #notice.tab-pane
              // Accordions start
              #accordion3.panel-group
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a(data-toggle='collapse', data-parent='#accordion3', href='#notice1')
                        | Notice Item 1
                  #notice1.panel-collapse.collapse.in
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion3', href='#notice2')
                        | Notice Item 2
                  #notice2.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion3', href='#notice3')
                        | Notice Item 3
                  #notice3.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion3', href='#notice4')
                        | Notice Item 4
                  #notice4.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                // Accordion item end
              // Accordions end
            // Tab end
          // Tab panes end
    // .row
// FAQ
