// FAQ
section#faq.section.faq
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h4 FAQ's
        hr
        div(role='tabpanel')
          // Nav tabs start
          ul.nav.nav-tabs.font-alt(role='tablist')
            li.active
              a(href='#support', data-toggle='tab')
                span.ion-heart
                |  Support
            li
              a(href='#sales', data-toggle='tab')
                span.ion-ios-cart
                |  Sales
            li
              a(href='#notice', data-toggle='tab')
                span.ion-speakerphone
                |  Other FAQ's
          // Nav tabs end
          // Tab panes start
          .tab-content
            // Tab start
            #support.tab-pane.active
              // Accordions start
              #accordion.panel-group
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a(data-toggle='collapse', data-parent='#accordion', href='#support1')
                        | Do you offer on going support?
                  #support1.panel-collapse.collapse.in
                    .panel-body
                      | We keep in close contact with all our clients, making sure that everything is as expected. We also continue to monitor and update your site for an entire year after launch, with ongoing options after this.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#support2')
                        | What if I need to make a change?
                  #support2.panel-collapse.collapse
                    .panel-body
                      | Small edits to your website will always be done in a timely manner at no extra charge. Larger changes, like adding a new page for that great new product you just launched, will be billed out at an hourly rate for ongoing projects or a fixed price.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#support3')
                        | When are you available?
                  #support3.panel-collapse.collapse
                    .panel-body
                      | We ensure that we are available to assist with any issues with your website when you need us. Having said this, we aren't super humans, and would prefer contact between 8am - 5pm Australian Eastern Standard Time. Immediate response outside these times may be available, but not guaranteed.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#support4')
                        | What if something goes wrong?
                  #support4.panel-collapse.collapse
                    .panel-body
                      | If something with your site goes wrong, we will work towards having it fixed as soon as humanly possible. It becomes our number one priority!
                // Accordion item end
              // Accordions end
            // Tab end
            // Tab start
            #sales.tab-pane
              // Accordions start
              #accordion2.panel-group
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a(data-toggle='collapse', data-parent='#accordion2', href='#sales1')
                        | Are your prices fixed?
                  #sales1.panel-collapse.collapse.in
                    .panel-body
                      | NNo, our prices aren't fixed. On our pricing page you can get a rough estimate of some of the packages we offer, but we will always work with you to come up with the best solution for your needs at the right price point.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#sales2')
                        | Do I need to pay a deposit?
                  #sales2.panel-collapse.collapse
                    .panel-body
                      | Yes, unfortunately we do require a deposit at the beginning of each project. This is for both of our benefits. You paying a deposit lets us know that you aren't going to run off on us once we hand over the work. Paying a deposit also helps you, as you become a paying client and are now guaranteed first class treatment!
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#sales3')
                        | Do you have Terms and Conditions?
                  #sales3.panel-collapse.collapse
                    .panel-body
                      | Yes, of course we do. Before starting any project, we send you a contract, which you agree to and then send back. This is great for both of us as it lays out exactly what we expect from each other and sets us on the right path together.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#sales4')
                        | What happens when we're done?
                  #sales4.panel-collapse.collapse
                    .panel-body
                      | As soon as we’re done with your project, we hand over all of the logins and passwords needed, just like the keys to a car. We keep a close eye on your project; however, and make sure everything continues to run smoothly. That is our responsibility.
                // Accordion item end
              // Accordions end
            // Tab end
            // Tab start
            #notice.tab-pane
              // Accordions start
              #accordion3.panel-group
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a(data-toggle='collapse', data-parent='#accordion3', href='#notice1')
                        | Mobile vs Responsive
                  #notice1.panel-collapse.collapse.in
                    .panel-body
                      | Mobile ready sites display a separate, usually limited version of a full page to the user. This is ultimately a less enjoyable experience. Responsive design, like the kind we employ in all of our websites, is different. It allows users to view the same page, but in a way that works great for the mobile devices.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion3', href='#notice2')
                        | Can you help with my existing site?
                  #notice2.panel-collapse.collapse
                    .panel-body
                      | Of course. We understand that not every situation calls for a completely new website. Sometimes you may just need a few changes made, or some bugs fixed. We can help with all websites.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion3', href='#notice3')
                        | How long will it take?
                  #notice3.panel-collapse.collapse
                    .panel-body
                      | Every project is different so timelines will vary. However, if you have a certain deadline, let us know—preferably in advance—and we will do our best to have your website up and running by then. On average, a design project takes between two weeks and three months.
                // Accordion item end
                // Accordion item start
                .panel.panel-default
                  .panel-heading
                    h4.panel-title.font-alt
                      a.collapsed(data-toggle='collapse', data-parent='#accordion3', href='#notice4')
                        | What if I need training?
                  #notice4.panel-collapse.collapse
                    .panel-body
                      | We work closely with all of our clients to make sure they are always well-informed on how to handle their products. When helping you, we also create detailed instruction manuals that you can always fall back on.
                // Accordion item end
              // Accordions end
            // Tab end
          // Tab panes end
    // .row
// FAQ
