// footer
footer#footer.footer
  .container
    .row
      .col-md-3.col-sm-4
        p.copyright.text-xs-center © 2016 Jason M Design
      .col-md-5.col-sm-4
        ul.footer-social-block
          li
            a(href='//www.facebook.com/jasonmdesign/')
              i.fa.fa-facebook
          li
            a(href='//twitter.com/JasonMDesign')
              i.fa.fa-twitter
          li
            a(href='//medium.jasonmdesign.com')
              i.fa.fa-medium
          li
            a(href='//www.google.com/+Jasonmdesignbrisbane')
              i.fa.fa-google-plus
          li
            a(href='//www.youtube.com/channel/UCTqm_grvr13d4MhPxT36Hsg')
              i.fa.fa-youtube
      .col-md-4.col-sm-4
        .footer-menu.text-xs-center
          a(href='#') Privacy Policy
          | &nbsp | &nbsp
          a(href='#') Terms & Conditions
// #footer
a#totop(href='#totop')
  i.fa.fa-angle-double-up
