// footer
footer#footer.footer
  .container
    .row
      .col-md-3.col-sm-4
        p.copyright.text-xs-center © 2016 Jason M Design
      .col-md-5.col-sm-4
        ul.footer-social-block
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-pinterest-p
          li
            a(href='#')
              i.fa.fa-behance
          li
            a(href='#')
              i.fa.fa-google-plus
          li
            a(href='#')
              i.fa.fa-linkedin
      .col-md-4.col-sm-4
        .footer-menu.text-xs-center
          a(href='#') Privacy Policy
          | &nbsp | &nbsp
          a(href='#') Terms & Conditions
// #footer
a#totop(href='#totop')
  i.fa.fa-angle-double-up
