// Footer widgets
section#footer-widgets.section.footer-widgets.dark-bg
  .container
    .row
      .col-md-3.col-sm-6
        .content-wrap.widget-text
          h4 About JMD
          p
            | Jaosn M Design is a web design and development agency. Based in Brisbane Australia, we are committed to helping our clients achieve success online. Using latest web design standards and technologies we bring clients the best possible solution for their online needs.
      .col-md-3.col-sm-6
        .content-wrap.widget-contact
          h4 Contact info
          ul
            li
              i.ion-home
              |  Brisbane Australia
            li
              i.ion-social-skype-outline
              |  jason.matthew17
            li
              i.ion-email
              | jason@jasonmdesign.com
      .col-md-3.col-sm-6
        .content-wrap.widget-recent-posts
          h4 Recent Posts
          ul
            | {% for post in site.posts limit: 3 %}
            li
              a.post-title(href='{{post.url}}') {{post.title}}
              | by &nbsp
              a.author(href='//medium.com/@Jason_Matthew') Jason
            | {% endfor %}
      .col-md-3.col-sm-6
        .content-wrap.widget-gallery
          h4 Recent Projects
          .lightbox-gallery
            | {% for work in site.portfolio reversed limit: 6 %}
            a(href='/{{work.thumbnail}}')
              img.img-responsive(src='/{{work.thumbnail}}')
            | {% endfor %}
// Footer widgets
