// Footer widgets
section#footer-widgets.section.footer-widgets.dark-bg
  .container
    .row
      .col-md-3.col-sm-6
        .content-wrap.widget-text
          h4 About Jason M Design
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!
      .col-md-3.col-sm-6
        .content-wrap.widget-contact
          h4 Contact info
          ul
            li
              i.ion-home
              |  Brisbane Australia
            li
              i.ion-social-skype-outline
              |  jason.matthew17
            li
              i.ion-email
              |  jason@jasonmdesign.com
      .col-md-3.col-sm-6
        .content-wrap.widget-recent-posts
          h4 Recent Posts
          ul
            li
              a.post-title(href='#') Lorem ipsum dolor sit amet
              |                             by
              a.author(href='#') Jhon Smith
            li
              a.post-title(href='#') Lorem ipsum dolor sit amet
              |                             by
              a.author(href='#') Jhon Smith
            li
              a.post-title(href='#') Lorem ipsum dolor sit amet
              |                             by
              a.author(href='#') Jhon Smith
      .col-md-3.col-sm-6
        .content-wrap.widget-gallery
          h4 Photo Gallery
          .lightbox-gallery
            a(href='assets/images/work/01.jpg')
              img(src='assets/images/work/01.jpg', alt='')
            a(href='assets/images/work/02.jpg')
              img(src='assets/images/work/02.jpg', alt='')
            a(href='assets/images/work/03.jpg')
              img(src='assets/images/work/03.jpg', alt='')
            a(href='assets/images/work/04.jpg')
              img(src='assets/images/work/04.jpg', alt='')
            a(href='assets/images/work/05.jpg')
              img(src='assets/images/work/05.jpg', alt='')
            a(href='assets/images/work/06.jpg')
              img(src='assets/images/work/06.jpg', alt='')
// Footer widgets
