// Fixed Top Navigation
nav#fixedTopNav.navbar.navbar-fixed-top.main-navigation(itemscope='', itemtype='https://schema.org/SiteNavigationElement', role='navigation')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav-collapse')
        span.sr-only Toggle navigation
        span.ion-drag
      // Logo
      .navbar-brand(itemscope='', itemtype='https://schema.org/Organization')
        span.sr-only(itemprop='name') Reign
        a(itemprop='url', href='index.html')
          img(src="assets/images/brand.png" alt="Jason M Design logo")
      // /Logo
    // /.navbar-header
    // Navigation Links
    #main-nav-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(role='menu')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span Home
          ul.dropdown-menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') One Page
              ul.dropdown-menu
                li
                  a(href='index__op__image_full_screen.html') Image Full Screen
                li
                  a(href='index__op__image_classic.html') Image Classic
                li
                  a(href='index__op__slider_full_screen.html') Slider Full Screen
                li
                  a(href='index__op__slider_classic.html') Slider Classic
                li
                  a(href='index__op__text_rotator_full_screen.html') Text Rotator Full Screen
                li
                  a(href='index__op__text_rotator_classic.html') Text Rotator Classic
                li
                  a(href='index__op__gradient_overlay_full_screen.html') Gradient Overlay Full Screen
                li
                  a(href='index__op__gradient_overlay_classic.html') Gradient Overlay Classic
                li
                  a(href='index__op__video_background_full_screen.html') Video Background Full Screen
                li
                  a(href='index__op__video_background_classic.html') Video Background Classic
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Multi Page
              ul.dropdown-menu
                li
                  a(href='index.html') Image Full Screen
                li
                  a(href='index__mp__image_classic.html') Image Classic
                li
                  a(href='index__mp__slider_full_screen.html') Slider Full Screen
                li
                  a(href='index__mp__slider_classic.html') Slider Classic
                li
                  a(href='index__mp__text_rotator_full_screen.html') Text Rotator Full Screen
                li
                  a(href='index__mp__text_rotator_classic.html') Text Rotator Classic
                li
                  a(href='index__mp__gradient_overlay_full_screen.html') Gradient Overlay Full Screen
                li
                  a(href='index__mp__gradient_overlay_classic.html') Gradient Overlay Classic
                li
                  a(href='index__mp__video_background_full_screen.html') Video Background Full Screen
                li
                  a(href='index__mp__video_background_classic.html') Video Background Classic
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span Pages
          ul.dropdown-menu
            li
              a(href='about_us.html') About
            li
              a(href='services.html') Services
            li
              a(href='pricing.html') Pricing
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Gallery
              ul.dropdown-menu
                li
                  a(href='gallery__3_columns.html') 3 Columns
                li
                  a(href='gallery__4_columns.html') 4 Columns
                li
                  a(href='gallery__5_columns.html') 5 Columns
            li
              a(href='faq.html') FAQ
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Contact
              ul.dropdown-menu
                li
                  a(href='contact__classic_map.html') Classic Style
                li
                  a(href='contact__full_width_map.html') Full Width Map
            li
              a(href='404.html') 404 Page
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') Portfolio
          ul.dropdown-menu
            li
              a(href='portfolio__boxed__lightbox.html') Portfolio Lightbox
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Boxed
              ul.dropdown-menu
                li
                  a(href='portfolio__boxed__2_columns.html') 2 Columns
                li
                  a(href='portfolio__boxed__3_columns.html') 3 Columns
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Wide
              ul.dropdown-menu
                li
                  a(href='portfolio__wide__2_columns.html') 2 Columns
                li
                  a(href='portfolio__wide__3_columns.html') 3 Columns
                li
                  a(href='portfolio__wide__4_columns.html') 4 Columns
            li
              a(href='portfolio__single.html') Single Portfolio
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span Blog
          ul.dropdown-menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Standard
              ul.dropdown-menu
                li
                  a(href='blog__standard__left_sidebar.html') Left Sidebar
                li
                  a(href='blog__standard__right_sidebar.html') Right Sidebar
                li
                  a(href='blog__standard__full_width.html') Full Width
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Grid
              ul.dropdown-menu
                li
                  a(href='blog__grid__2_columns.html') 2 Columns
                li
                  a(href='blog__grid__3_columns.html') 3 Columns
                li
                  a(href='blog__grid__with_sidebar.html') With Sidebar
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Single Blog Post
              ul.dropdown-menu
                li
                  a(href='blog__single__left_sidebar.html') Left Sidebar
                li
                  a(href='blog__single__right_sidebar.html') Right Sidebar
                li
                  a(href='blog__single__full_width.html') Full Width
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span Components
          ul.dropdown-menu
            li
              a(href='icons.html')
                i.fa.fa-heart
                |  Icons
            li
              a(href='typography.html')
                i.fa.fa-font
                |  Typography
            li
              a(href='buttons.html')
                i.fa.fa-plus-square
                |  Buttons
            li
              a(href='forms.html')
                i.fa.fa-check-square
                |  Forms
            li
              a(href='tabs_and_accordions.html')
                i.fa.fa-indent
                |  Tabs & Accordions
            li
              a(href='alerts_and_wells.html')
                i.fa.fa-bolt
                |  Alerts & Wells
    // /Navigation Links
  // /.container
// /Fixed Top Navigation
