// About Us
section#about-us.section.about-us
  .container
    //
    header.section-heading
      h2 About Us
      span Everything you need to know about my Company
    // section-heading
    //
    .section-content
      .row
        .col-sm-4
          // about-left
          .about-content.left
            h4 Eye for Detail
            p
              | At Jason M Design we pride ourselves on our attention to detail. We know that what we are building for you is an asset not just a website, and we treat it as such. Everything we do is focused on achieving the best end results for you, our client.
        // col-sm-4
        .col-sm-4
          // about-center
          figure.about-content.center
            img.img-responsive.center-block(src='assets/images/profile-pic.jpg', alt='')
        // col-sm-4
        .col-sm-4
          // about-right
          .about-content.right
            h4 Cutting Edge
            p
              | We are focused on employing the latest web standards and technologies. This ensures that all of our client's websites not only look beautiful and modern, but also run perfectly.
        // col-sm-4
      // row
    // section-content
  // container
// /About Us
