// Contact-us
section#contact.section.contact
  .container
    //
    header.section-heading
      h2  Feel free to drop us a line
      span We are happy to listen
    //
    .section-content
      .row
        .col-md-6.col-sm-5
          h5 Feel free to drop us a line!
          <form id="contactForm" class="contact-form" name="main-contact" netlify>
            .form-group
              input#name.form-control(name='name', placeholder='Your Name', type='text', required='')
            .form-group
              input#email.form-control(name='email', placeholder='Email Address', type='email', required='')
            .form-group
              textarea#message.form-control(name='massage', placeholder='Type your message here', rows='5', required='')
            #contactFormResponse
            button#cfsubmit.btn.btn-dark.btn-block.contact-submit Give us a shout
          </form>
        .col-md-6.col-sm-7
          h5 Our Headquarters
          .google-map
            #map
          .row.contact-info-wrap
            .col-sm-6
              div
                h5 Based In
                address.contact-info
                  span Brisbane
                  br
                  span Queensland
                  | ,
                  span 4100
                  br
                  span Australia
            .col-sm-6
              div
                h5 Contact Information
                .contact-info
                  | Twitter: <a href="//twitter.com/JasonMDesign">JasonMDesign</a>
                  br
                  | Facebook: <a href="//www.facebook.com/jasonmdesign">JasonMDesign</a>
                  br
                  | Email: <a href="mailto:jason@jasonmdesign.com">jason@jasonmdesign.com</a>
// Contact-us
