// Service
section#services.section.services
  .container
    //
    header.section-heading
      h2 Our Services
      span We plan, design, build and market high quality websites
    //
    .section-content
      .row
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-albums-outline
            .about-service
              h4.text-center Responsive Design
              p.text-center
                | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        // col-sm-4
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-americanfootball-outline
            .about-service
              h4.text-center Brand Identity
              p.text-center
                | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        // col-sm-4
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-game-controller-b-outline
            .about-service
              h4.text-center Game Development
              p.text-center
                | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        // col-sm-4
      // row
      .row.secondrow
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-lightbulb-outline
            .about-service
              h4.text-center Creative Theme
              p.text-center
                | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        // col-sm-4
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-pie-outline
            .about-service
              h4.text-center Making Stretagy
              p.text-center
                | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        // col-sm-4
        .col-sm-4
          // service
          .service.last
            .service-icon.text-center
              span.ion-ios-cart-outline
            .about-service
              h4.text-center Business Solution
              p.text-center
                | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        // col-sm-4
      // row
    // section-content
  // container
// Service
