// Portfolio
section#portfolio.section.portfolio
  .container
    //
    header.section-heading
      h2 Recent Projects
      span Successful projects,happy clients and great results
    //
    .section-content
      .main_content
        #filters.isotop-filter
          button.btn.btn-isotop.is-checked(type='button', data-filter='*') All
          button.btn.btn-isotop(type='button', data-filter='.design') Web
          button.btn.btn-isotop(type='button', data-filter='.wordpress') WordPress
          button.btn.btn-isotop(type='button', data-filter='.marketing') Marketing
          button.btn.btn-isotop(type='button', data-filter='.brandidentity') Brand Identity
      // main_content
  //
  //
  //
  //
  .portfolio-grid
    //
    //
    //
    ul#da-thumbs.da-thumbs.isotope
      | {% for work in site.portfolio %}
      li.design(data-category='design')
        a(href='portfolio__single.html')
          img(src='assets/images/work/01.jpg', alt='')
          .portfolio-detail-overlay
            .middle-align-wrap
              .middle-align-cell
                h4 {{work.title}}
                span Webdesign
      | {% endfor %}
      //- li.marketing(data-category='marketing')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/02.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.wordpress(data-category='wordpress')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/03.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.design(data-category='design')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/04.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.marketing(data-category='marketing')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/05.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.wordpress(data-category='wordpress')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/06.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.design(data-category='design')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/07.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.marketing(data-category='marketing')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/08.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.brandidentity(data-category='brandidentity')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/09.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.marketing(data-category='marketing')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/10.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.brandidentity(data-category='brandidentity')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/11.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
      //- li.brandidentity(data-category='brandidentity')
      //-   a(href='portfolio__single.html')
      //-     img(src='assets/images/work/12.jpg', alt='')
      //-     .portfolio-detail-overlay
      //-       .middle-align-wrap
      //-         .middle-align-cell
      //-           h4 Corporate Website
      //-           span Webdesign
  // /portfolio-grid
// /Portfolio
