// Service
section#services.section.services
  .container
    //
    header.section-heading
      h2 Our Services
      span We plan, design, build and market high quality websites
    //
    .section-content
      .row
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-monitor-outline
            .about-service
              h4.text-center Stunning Design
              p.text-center
                | Years of design experience allow us to offer you websites that are designed in the latest trends and that will always look clean and modern.
        // col-sm-4
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-code-working
            .about-service
              h4.text-center Rock Solid Development
              p.text-center
                | All our websites are developed with the highest standards ensuring that they are always secure and functional.
        // col-sm-4
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-search
            .about-service
              h4.text-center Search Engine Optimization
              p.text-center
                | Getting found online is essential, we optimize your website to rank in search engines and can even help with ongoing strategies.
        // col-sm-4
      // row
      .row.secondrow
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-ios-lightbulb-outline
            .about-service
              h4.text-center Engaging Content
              p.text-center
                | Engaging content can make or break a website, with professional content creators we can edit, improve and create amazing content for your site.
        // col-sm-4
        .col-sm-4
          // service
          .service
            .service-icon.text-center
              span.ion-social-wordpress-outline
            .about-service
              h4.text-center WordPress Integration
              p.text-center
                | We can integrate your site with WordPress allowing you to edit content on the fly, giving you more control over your website.
        // col-sm-4
        .col-sm-4
          // service
          .service.last
            .service-icon.text-center
              span.ion-arrow-graph-up-right
            .about-service
              h4.text-center Effective Marketing
              p.text-center
                | Your online presence must be a holistic approach as such we offer complete online marketing packages, to get you found online.
        // col-sm-4
      // row
    // section-content
  // container
// Service
