// Header
header#header.header-wrapper.home-parallax.home-fade.dark-bg.header-classic.bg-10
  // Background Youtube player start
  #videoBackground.overlay(data-property="{videoURL:'https://www.youtube.com/watch?v=1ufqweCJm2k', containment:'.header-wrapper', startAt:22, stopAt:290, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}")
  // Background Youtube player end
  // Youtube controls start
  .video-controls-box
    .container
      .video-controls
        a#video-volume.fa.fa-volume-up(href='#')  
        a#video-play.fa.fa-pause(href='#')  
  // Youtube controls end
  .color-overlay
  .header-wrapper-inner
    .container
      .intro
        h1 To Begin, Begin
        p Thats How My Life Rolls
        a.btn.btn-default-o.onPageNav(href='#services') Our Services
      // /.intro
    // /.container
  // /.header-wrapper-inner
// /Section
