// Pricing
section#pricing.section.pricing
  .container
    //
    header.section-heading
      h2 Our Pricing
      span Amazing services at an affordable monthly price
    //
    .section-content
      .row
        .col-md-3.col-sm-6
          .price-box
            h3 Getting Started
            .price-info
              .price
                sup $
                | 200
                small  / Month
              ul
                li 5 Pages
                li Responsive Design
                li Hosting
                li Domain Registration
                li Website Analytics
                li Social Media Integrations
                li 3 Hours of Monthly Changes
                li Weekly Backups
                li.disabled WordPress
                li.disabled Blog
                li.disabled Onsite SEO
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
        .col-md-3.col-sm-6
          .price-box.featured
            h3 Business
            .price-info
              .price
                sup $
                | 300
                small  / Month
              ul
                li 10 Pages
                li Responsive Design
                li Hosting
                li Domain Registration
                li Website Analytics
                li Social Media Integrations
                li 5 Hours of Monthly Changes
                li Weekly Backups
                li.disabled WordPress
                li.disabled Blog
                li.disabled Onsite SEO
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
        .col-md-3.col-sm-6
          .price-box
            h3 Professional
            .price-info
              .price
                sup $
                | 350
                small  / Month
              ul
                li 15 Pages
                li Responsive Design
                li Hosting
                li Domain Registration
                li Website Analytics
                li Social Media Integrations
                li 10 Hours of Monthly Changes
                li Weekly Backups
                li WordPress
                li Blog
                li Onsite SEO
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
        .col-md-3.col-sm-6
          .price-box.last
            h3 All In / Ecommerce
            .price-info
              .price
                sup $
                | 500
                small  / Month
              ul
                li 20 Pages
                li Responsive Design
                li Hosting
                li Domain Registration
                li Website Analytics
                li Social Media Integrations
                li 15 Hours of Monthly Changes
                li Weekly Backups
                li WordPress
                li Blog
                li Onsite SEO
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
// Pricing
