// Video
section#video.section.video-player.dark-bg
  .color-overlay
  #video-info.container
    .row
      .col-sm-5
        // video-left
        .video-left
          | How JMD
          br
          | can help
      // col-sm-4
      .col-sm-2
        // Play Button
        a#playVideo.btn.video-icon(href='#')
          i.ion-ios-play-outline
      // col-sm-4
      .col-sm-5
        // video-right
        .video-right
          | Create Your Own Slogan
          br
          | Golden Ratio
          br
          | Here
      // col-sm-4
    // row
  // container
#video-container.container
  .row
    .col-md-8.col-md-offset-2
      #ytPlayer.embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(frameborder='0', title='YouTube video player', type='text/html', src='http://www.youtube.com/embed/w9j3-ghRjBs?enablejsapi=1')
      // ytPlayer
// /Video
