// Pricing
section#pricing.section.pricing
  .container
    //
    header.section-heading
      h2 Our Pricing
      span Amazing services at an affordable monthly price
    //
    .section-content
      .row
        .col-md-3.col-sm-6
          .price-box
            h3 Getting Started
            .price-info
              .price
                sup $
                | 500
              ul
                li 1 page
                li 1 year hosting
                li Support
                li Responsive
                li.disabled WordPress
                li.disabled Blog
                li.disabled Onsite SEO
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
        .col-md-3.col-sm-6
          .price-box.featured
            h3 Small Business
            .price-info
              .price
                sup $
                | 1500
              ul
                li Up to 10 Pages
                li 1 year hosting
                li Support
                li Responsive
                li Blog
                li Onsite SEO
                li.disabled WordPress
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
        .col-md-3.col-sm-6
          .price-box
            h3 WordPress Site
            .price-info
              .price
                sup $
                | 2500
              ul
                li Up to 10 pages templates
                li 1 year hosting
                li Support
                li Responsive
                li Blog
                li Onsite SEO
                li WordPress
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get Started
        .col-md-3.col-sm-6
          .price-box.last
            h3 Custom
            .price-info
              .price
                sup $
                | 3000 +
              ul
                li Unlimited Pages
                li Custom Designs
                li Custom Theme Development
                li Onsite SEO
                li Blog
                li Secrity & Backup
                li WordPress
            a.btn.btn-default(href='mailto:jason@jasonmdesign.com') Get a Quote
// Pricing
