// Team
section#team.section.team
  .container
    header.section-heading
      h2 Meet the Team
      span Meet the Reign team
    .section-content
      .row
        .col-sm-4.lborder
          // team-member's-bio
          .team-bio
            figure
              img.img-responsive.center-block(src='assets/images/team/team-1.jpg', alt='')
            .team-description
              .member-name Jewel Johan
              .designation CEO & Founder
            // team-member's-social
            .team-social
              ul.social-block
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-google-plus
          // /team bio
        // col-sm-4
        .col-sm-4.lborder.rborder
          // team-member's-bio
          .team-bio
            figure
              img.img-responsive.center-block(src='assets/images/team/team-2.jpg', alt='')
            .team-description
              .member-name Rub Elvy Khanam
              .designation Front End Developer
            // team-member's-social
            .team-social
              ul.social-block
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-google-plus
          // /team bio
        // col-sm-4
        .col-sm-4.rborder
          // team-member's-bio
          .team-bio
            figure
              img.img-responsive.center-block(src='assets/images/team/team-3.jpg', alt='')
            .team-description
              .member-name K. Survy
              .designation Graphics Designer
            // team-member's-social
            .team-social
              ul.social-block
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-google-plus
          // /team bio
        // col-sm-4
      // row
    // section-content
  // container
// Team
