// Our Process
section#our-process.section.our-process
  .container
    header.section-heading
      h2 How We Do It
      span  The process we follow to ensure amazing results
    .section-content
      .process
        // our-process-image
        .our-process-image
          span.ion-ios-flask-outline
        .our-process-text
          // our-process-text
          h4 Analysis & Planing
          p
            | For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.
      // process
      // divider
      .divider.divider-right.hidden-xs
      .process
        // our-process-image
        .our-process-image.left
          span.ion-ios-lightbulb-outline
        .our-process-text.right
          // our-process-text
          h4 Design & Development
          p
            | For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.
      // process
      // divider
      .divider.divider-left.hidden-xs
      .process
        // our-process-image
        .our-process-image
          span.ion-ios-speedometer-outline
        .our-process-text
          // our-process-text
          h4 Launch & Grow
          p
            | For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.
      // process
    // section-content
  // container
// /Our Process
