// Clients
#clients.section.clients.overlay-1
  .container
    .section-content
      #client-carousel.owl-carousel
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo01.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo02.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo03.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo04.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo05.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo06.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo02.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo03.png', alt='')
        .client-image.item
          img.img-responsive.center-block(src='assets/img/clients/c_logo04.png', alt='')
// Clients
