// Our Process
section#our-process.section.our-process
  .container
    header.section-heading
      h2 How We Do It
      span  The process we follow to ensure amazing results
    .section-content
      .process
        // our-process-image
        .our-process-image
          span.ion-ios-flask-outline
        .our-process-text
          // our-process-text
          h4 Analysis & Planing
          p
            | We go in depth with you, learning about your business and your website goals, from here we analyse your current site, what is working and what can be improved. This allows us to develop a plan to help your website become an asset to your business.
      // process
      // divider
      .divider.divider-right.hidden-xs
      .process
        // our-process-image
        .our-process-image.left
          span.ion-ios-lightbulb-outline
        .our-process-text.right
          // our-process-text
          h4 Design & Development
          p
            | With a detailed view of your business and a plan to make your website more profitable for you we take this and design and develop your site to exactly match your needs. We work closely with you ensuring that you are kept in the loop throughout this process.
      // process
      // divider
      .divider.divider-left.hidden-xs
      .process
        // our-process-image
        .our-process-image
          span.ion-ios-speedometer-outline
        .our-process-text
          // our-process-text
          h4 Launch & Grow
          p
            | With design and development complete we launch your new site. We focus on marketing it to allow your business to grow and profit from your amazing new website. Providing you with a substantial return on your investment.
      // process
    // section-content
  // container
// /Our Process
