// Pricing
section#pricing.section.pricing
  .container
    //
    header.section-heading
      h2 Our Pricing
      span Amazing services at affordable price
    //
    .section-content
      .row
        .col-md-3.col-sm-6
          .price-box
            h3 Basic
            .price-info
              .price
                sup $
                | 199
              ul
                li Up to 5 pages
                li 1 year hosting
                li 3 months support
                li.disabled SEO
                li.disabled Secrity & Backup
                li.disabled 24/7 Support
            a.btn.btn-default(href='#') Get Started
        .col-md-3.col-sm-6
          .price-box
            h3 Standard
            .price-info
              .price
                sup $
                | 499
              ul
                li Up to 5 pages
                li 1 year hosting
                li 3 months support
                li SEO
                li.disabled Secrity & Backup
                li.disabled 24/7 Support
            a.btn.btn-default(href='#') Get Started
        .col-md-3.col-sm-6
          .price-box.featured
            h3 Premium
            .price-info
              .price
                sup $
                | 799
              ul
                li Up to 5 pages
                li 1 year hosting
                li 3 months support
                li SEO
                li Secrity & Backup
                li.disabled 24/7 Support
            a.btn.btn-default(href='#') Get Started
        .col-md-3.col-sm-6
          .price-box.last
            h3 Ultimate
            .price-info
              .price
                sup $
                | 999
              ul
                li Up to 5 pages
                li 1 year hosting
                li 3 months support
                li SEO
                li Secrity & Backup
                li 24/7 Support
            a.btn.btn-default(href='#') Get Started
// Pricing
