// Header
header#header.header-wrapper.home-parallax.home-fade.dark-bg.header-classic.bg-home
  .color-overlay
  .header-wrapper-inner
    .container
      .intro
        h1 Jason M Design Line Endings?
        p Web Design and Development Brisbane
        a.btn.btn-default-o.onPageNav(href='#services') Our Services
      // /.intro
    // /.container
  // /.header-wrapper-inner
// /Header
