// Our Process
section#our-process.section.our-process
  .container
    header.section-heading
      h2 How We Do It
      span  The process we follow to ensure amazing results
    .section-content
      .process
        // our-process-image
        .our-process-image
          span.ion-ios-flask-outline
        .our-process-text
          // our-process-text
          h4 Analysis and Planing
          p
            | We go in depth with you, learning about your business and your website goals. From there on, we analyse your current site, find out what works and what can be improved upon. This allows us to develop a plan to help your website become an asset to your business.
      // process
      // divider
      .divider.divider-right.hidden-xs
      .process
        // our-process-image
        .our-process-image.left
          span.ion-ios-lightbulb-outline
        .our-process-text.right
          // our-process-text
          h4 Design and Development
          p
            | With a detailed view of your business and a plan to make your website more profitable for you, we move on to implementation, developing your site to match your needs. We work closely with you, making sure that you are kept in the loop at all times.
      // process
      // divider
      .divider.divider-left.hidden-xs
      .process
        // our-process-image
        .our-process-image
          span.ion-ios-speedometer-outline
        .our-process-text
          // our-process-text
          h4 Launch and Grow
          p
            | With design and development complete, we launch your new site, our focus now being on marketing it to allow your business grow. Our ultimate goal is providing you with a product that earns you substantial return on your investment.
      // process
    // section-content
  // container
// /Our Process
