// About Us
section#about-us.section.about-us
  .container
    //
    header.section-heading
      h2 About Us
      span EVERYTHING YOU SHOULD KNOW ABOUT US
    // section-heading
    //
    .section-content
      .row
        .col-sm-4
          // about-left
          .about-content.left
            h4 ATTENTION TO DETAIL
            p
              | At Jason M Design, we pride ourselves on our ability to bring your most detailed ideas to life. What we build for you is not just a website; it's an asset, and we treat it as such. Our goal is achieving the best end results for you.
        // col-sm-4
        .col-sm-4
          // about-center
          figure.about-content.center
            img.img-responsive.center-block(src='/assets/images/profile-pic-small.jpg', alt='Profile Pic of Jason Matthew')
        // col-sm-4
        .col-sm-4
          // about-right
          .about-content.right
            h4 Cutting Edge
            p
              | We adhere to—and employ—the latest web design standards and technologies, ensuring that your website not only looks modern and beautiful, but also runs perfectly.
        // col-sm-4
      // row
    // section-content
  // container
// /About Us
