// Why-choose-us
section#why-choose-us.section.why-choose-us
  .container
    header.section-heading
      h2 Why Choose Us
      span Choosing an agency is tough. Let us convince you
    .section-content
      .row
        .col-sm-4.why-explain-wrap
          // why-choose-us-text
          h4 Creative
          .why-explain.top.top-1
            p Your website is an extension of your brand, an expression of your company. We ensure that the design solution for your website matches your company’s existing personality and expresses who you really are to your clients.
        // col-md-4 col-sm-6
        .col-sm-4.why-explain-wrap
          // why-choose-us-text
          h4 Committed
          .why-explain.top.top-2
            p We are committed to achieving the best results for you. Ensuring that your website is an asset to your business not an expense. We align our goals for a project with yours so we are both working to achieve the same outcome.
        // col-md-4 col-sm-6
        .col-sm-4.why-explain-wrap
          // why-choose-us-text
          h4 Professional
          .why-explain.top.top-3
            p At Jason M Design, we are web design professionals. This means that we are proven in the field and able to get you the results you both want and need. Using years of experience and expertise to bring you the best solution possible.
        // col-md-4 col-sm-6
      // row
      // why-choose-us-image
      figure.why-us-image
        img.img-responsive.center-block.hidden-xs(src='/assets/images/why-choose-us/1.png', alt='')
      .row
        .col-sm-4.why-explain-wrap
          // why-choose-us-text
          .why-explain.bottom.bottom-1
            h4 Affordable
          p We pride ourselves on delivering what our customers need. This means that we strive to understand your business, then recommend solutions from there, making the product a solution that fits your needs and is affordable.
        // col-md-4 col-sm-6
        .col-sm-4.why-explain-wrap
          // why-choose-us-text
          .why-explain.bottom.bottom-2
            h4 Strategic
          p Your website plays a huge part in how your customers and potential customers see you. As such a strategic approach to your content and the message that it sends is of utmost importance. We provide this strategy.
        // col-md-4 col-sm-6
        .col-sm-4.why-explain-wrap.last
          // why-choose-us-text
          .why-explain.bottom.bottom-3
            h4 Engaging
          p.last Your website is often the first place that potential customers make contact with you. It needs to not only look great, and perform well. But engage your customers, enticing them to buy from you or use your services.
        // col-md-4 col-sm-6
      // row
    // section-content
  // container
// /Why-choose-us
