// Single Portfolio
section#single-portfolio.section.single-portfolio
  .container
    .row
      .col-md-10.col-md-offset-1
        p.led
          | {{page.lead}}
  .container
    .row
      .col-md-10.col-md-offset-1
        .flexslider
          ul.slides
            | {% for image in page.images %}
            li
              img(src='/{{image}}')
            | {% endfor %}
    .row.portfolio-details-single
      .col-sm-4.col-md-3.col-md-offset-1
        h3 Project Details
        ul
          li
            strong Client:
            |  {{page.company}}
          li
            strong Date:
            |  {{ page.date | date: '%d %B, %Y' }}
          li
            strong Online:
            a(href='//{{post.website}}') &nbsp {{page.website}}
      .col-sm-8.col-md-7
        h3 Project Story
        p
          | {{page.content}}
  // /container
// Single Portfolio
