<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	{% if page.keywords %}
	<meta content="{{page.keywords | join: ', '}}" name="keywords">
	{% endif %}
	{% if page.meta %}
	<meta name="description" content="{{page.meta}}" />
	{% endif %}

	<title>{{page.title}} - JMD - We Do Web</title>
	{% include head.html %}
</head>

<body data-offset="100" data-spy="scroll" data-target="#main-nav-collapse">
	{{ content }}
	<!-- Scripts -->
	{% include scripts.html %}
</body>
</html>
